[tool.poetry]
name = "pyxdi"
version = "0.14.0"
description = "Dependency Injection library"
authors = ["Anton Ruhlov <antonruhlov@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/antonrh/pyxdi"
keywords = ["dependency injection", "dependencies", "di", "async", "asyncio", "application"]
packages = [
    { include = "pyxdi", from = "." },
]

[tool.poetry.dependencies]
python = "^3.8"
anyio = { version = "^3.6.2", optional = true }
mkdocs = { version = "^1.4.2", optional = true }
mkdocs-material = { version = "^9.1.13", optional = true }

[tool.poetry.extras]
docs = ["mkdocs", "mkdocs-material"]

[tool.poetry.group.dev.dependencies]
black = "^23.7.0"
mypy = "^1.5.1"
ruff = "^0.0.286"
pytest = "^7.4.0"
pytest-cov = "^4.0.0"
anyio = "^3.6.2"
fastapi = "^0.95.1"
httpx = "^0.24.0"
sqlalchemy = "^2.0.13"

[tool.black]
line-length = 88
target-version = ['py310']
include = '\.pyi?$'

[tool.ruff]
line-length = 88
select = ["A", "B", "C", "E", "F", "I", "W", "TID252", "T20"]
ignore = ["A003", "B008", "B009", "B010", "D104", "D107"]
exclude = [
    ".git",
    "__pycache__",
    ".history"
]

[tool.ruff.isort]
combine-as-imports = true
forced-separate = ["tests"]

[tool.ruff.pydocstyle]
convention = "google"

[tool.mypy]
python_version = "3.10"
strict = true

[[tool.mypy.overrides]]
module = []
ignore_missing_imports = true

[tool.pytest.ini_options]
addopts = [
    "--strict-config",
    "--strict-markers",
]
xfail_strict = true
junit_family = "xunit2"

[tool.coverage.report]
exclude_also = [
    "pragma: no cover",
    "@abstractmethod",
    "@abc.abstractmethod",
    "if TYPE_CHECKING",
    "if t.TYPE_CHECKING",
    "@t.overload",
    "raise NotImplementedError",
    "except ImportError:",
    "if has_signature_eval_str_arg",
    "if not anyio_installed:",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
