[tool.poetry]
name = "pyxdi"
version = "0.1.0-alpha.0"
description = "Dependence Injection library"
authors = ["Anton Ruhlov <antonruhlov@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/antonrh/pyxdi"
keywords = ["dependency injection", "dependencies", "di", "async", "asyncio", "application"]
packages = [
    { include = "pyxdi", from = "." },
]

[tool.poetry.dependencies]
python = ">=3.7,<3.12"
anyio = {version = "^3.6.2", extras = ["asyncio"]}
mkdocs = {version = "^1.4.2", extras = ["docs"]}
mkdocs-material = {version = "^9.0.12", extras = ["docs"]}

[tool.poetry.dev-dependencies]
black = "^23.1.0"
isort = "^5.11.5"
flake8 = "^3.9.2"
flake8-tidy-imports = "^4.8.0"
pytest = "^7.2.1"
pytest-cov = "^4.0.0"
mypy = "^1.0"

[tool.black]
line-length = 88
target-version = ['py310']
include = '\.pyi?$'

[tool.isort]
profile = "black"
combine_as_imports = true
known_tests = "tests"
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "FIRSTPARTY", "TESTS", "LOCALFOLDER"]

[tool.mypy]
python_version = "3.10"
strict = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
