name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Code quality
    runs-on: ubuntu-latest
    steps:
      - name: Install poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 - --version 1.6.1
          echo "PATH=${HOME}/.poetry/bin:${PATH}" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "poetry"
      - name: Install dependencies
        run: poetry install -E async
      - name: Static type checking
        run: poetry run mypy pyxdi/ tests/
      - name: Code formatting
        run: poetry run ruff pyxdi/ tests/ && poetry run ruff format pyxdi/ tests/ --check


  tests:
    name: Run unit tests ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: '3.12', python: '3.12', os: ubuntu-latest}
          - {name: '3.11', python: '3.11', os: ubuntu-latest}
          - {name: '3.10', python: '3.10', os: ubuntu-latest}
          - {name: '3.9', python: '3.9', os: ubuntu-latest}
          - {name: '3.8', python: '3.8', os: ubuntu-latest}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 - --version 1.6.1
          echo "PATH=${HOME}/.poetry/bin:${PATH}" >> $GITHUB_ENV
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          cache: "poetry"
      - name: Install dependencies
        run: poetry install
      - name: Run tests
        run: poetry run pytest -vv --cov=pyxdi/ --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: matrix.python == '3.10'
